* {
    box-sizing: border-box;
}

@font-face {
    font-family: Diatype-bold;
    src: url(./fonts/ABCDiatype-Bold-Trial.otf);
}

@font-face {
    font-family: Diatype-bold-italic;
    src: url(./fonts/ABCDiatype-BoldItalic-Trial.otf);
}

@font-face {
    font-family: Diatype-regular;
    src: url(./fonts/ABCDiatype-Regular-Trial.otf);
}

@font-face {
    font-family: Diatype-regular-italic;
    src: url(./fonts/ABCDiatype-RegularItalic-Trial.otf);
}

@font-face {
    font-family: Marist-medium;
    src: url(./fonts/ABCMarist-Medium-Trial.otf);
}

@font-face {
    font-family: Marist-medium-italic;
    src: url(./fonts/ABCMarist-MediumItalic-Trial.otf);
}

@font-face {
    font-family: Marist-book;
    src: url(./fonts/ABCMarist-Book-Trial.otf);
}

@font-face {
    font-family: Marist-book-italic;
    src: url(./fonts/ABCMarist-BookItalic-Trial.otf);
}

@font-face {
    font-family: Glyphworld-flower;
    src: url(./fonts/GlyphWorld-Flower.otf);
}

body {
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
    padding-bottom: 100px;
    overflow-x: hidden;
}

img {
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

a {
    text-decoration: none; 
    color: black;  
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px dotted #000; /* Dotted line at the bottom */
    background-color: white;
    position: fixed;
    z-index: 998;
}

.nav p{
    font-size: 1rem;
}

.text {
    padding-top:50px;
    width: 45%;
    margin:auto;
    z-index: 1;
}

.green {
    color: #67b346;
}


h2 {
    text-align: center;
    padding-top: 25px;
    line-height: 3rem;
}

.sanserif {
    font-family: "Diatype-bold";
    letter-spacing: -0.10rem;
    font-size: 3.7rem;    
}

.serif {
    font-family: "Marist-medium-italic";
    font-weight: 400;
    color: #67b346;
    font-size: 4rem;    
}

.bsserif {
    font-family: "Diatype-bold";
    letter-spacing: -0.05rem;  
    font-size: 3.7rem; 
}

.bsserif2 {
    font-family: "Diatype-regular";
    letter-spacing: -0.05rem; 
    font-size: 3.7rem;  
}

.gsserif {
    font-family: "Diatype-regular";
    letter-spacing: -0.05rem;  
    color: #67b346;
    font-size: 3.7rem; 
}

.gserif {
    font-family: "Marist-medium-italic";
    font-weight: 400;
    color: #67b346;
    font-size: 4rem;  
}

.bserif {
    font-family: "Marist-medium-italic";
    font-weight: 400;
    font-size: 4rem; 
}

.glyph {
    font-family: "Glyphworld-flower", sans-serif;
    font-weight: 500;
    color: #67b346;
    font-size: 4rem;
}


h3 {
    font-family: "Diatype-bold";
    font-weight: 200;
    font-size: 2.5rem;   
    letter-spacing: -0.10rem; 
    text-align: center;
    line-height: 2.5rem;
}

h4 {
    font-family: "Marist-book";
    font-weight: 200;
    font-size: 0.85rem;    
    text-align: center;
}

p {
    font-family: "Marist-book";
    font-size: 1.4rem;
    font-weight: 200;
}

.pullquote {
    font-family: "Diatype-regular";
    font-weight: 200;
    width: 70%;
    margin: auto;
    font-size: 2rem;   
    letter-spacing: -0.10rem; 
    line-height: 2rem;
    text-align: center;
}

.text img {
    border: 1px solid black;
    width: 45vw;
}

#hamburger:hover {
    cursor:pointer;
}

/* Default hidden state */
aside {
    position: fixed;
    width: 20vw;
    min-height: 100vh;
    background-color: white;
    font-family: "Diatype-regular";
    font-weight: 200;
    font-size: 1.35rem;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 40px;
    left: -30vw; /* Hidden state */
    top: 0;
    filter: drop-shadow(0px 0px 3px rgb(105, 105, 105) );
    z-index: 999;
    opacity: 0;
}

/* Revealed state */
aside.active {
    left: 0vw; /* Moves the aside into view */
    transition: opacity 0.5s ease;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.25s;
    opacity: 1;
}

aside .sanserif,
aside .bsserif,
aside .bsserif2,
aside .gsserif,
aside .glyph {
    font-size: 1.35rem; /* Adjust the size as needed */
}

aside .serif,
aside .gserif,
aside .bserif {
    font-size: 1.45rem;
}

.current {
    background-color: #d3edc8;
}

aside a:hover {
    /* text-decoration: underline #67b346;  */
    background-color: #d3edc8;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.4s;
}

.images {
    position: absolute;
    width: 100vw;
    height: fit-content;
    z-index: 3;
    /* border: red solid 2px; */
}

.images img:hover {
    cursor:pointer;
    transform:scale(1.025);
    filter: drop-shadow(0px 0px 0.5px black);
}

#floating-image img {
    transition: opacity 0.5s ease;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.25s;
    opacity: 1;
}

.hidden {
    opacity: 0 !important; /* Ensure the hidden class takes effect */
    pointer-events: none; /* Prevent further interaction */
}

.overgrowth01 {
    position: absolute;
    top: 700px;
    left:50vw;
    border: solid 1px black;
    width: 300px;
}

.overgrowth02 {
    position: absolute;
    top: 1500px;
    left:20vw;
    border: solid 1px black;
    width: 350px;
}

.nyc3112 {
    position: absolute;
    top: 3600px;
    left:40vw;
    border: solid 1px black;
    width: 275px;
}

.plant {
    position: absolute;
    top: 5000px;
    left:60vw;
    border: solid 1px black;
    width: 400px;
}

.vine1 {
    position: absolute;
    right:25vw;
    width: 170px;
}

.gov12 {
    position: absolute;
    top: 1700px;
    right:20vw;
    border: solid 1px black;
    width: 500px;
}

.wales1 {
    position: absolute;
    top: 3000px;
    left:20vw;
    border: solid 1px black;
    width: 450px;
}

.vine2 {
    position: absolute;
    top: 4000px;
    left:45vw;
    width: 500px;
}

.flower01 {
    position: absolute;
    top: 4500px;
    left:10vw;
    width: 400px;
}

.chernobyl2 {
    position: absolute;
    top: 5300px;
    right:30vw;
    border: solid 1px black; 
    width: 450px;
}

.chernobyl3 {
    position: absolute;
    top: 5600px;
    left:15vw;
    border: solid 1px black; 
    width: 500px;
}

.vine5 {
    position: absolute;
    right: -10vw;
    top: 5500px;
    width: 800px;
}

.flower10 {
    position: absolute;
    top: 6300px;
    width: 700px;
}

.fukushima2 {
    position: absolute;
    top: 6500px;
    right:15vw;
    border: solid 1px black; 
    width: 550px;
}

.fukushima1 {
    position: absolute;
    top: 6800px;
    left:40vw;
    border: solid 1px black; 
    width: 500px;
}

.vine4 {
    position: absolute;
    right: -10vw;
    top: 6700px;
    width: 500px;
}

.vine3 {
    position: absolute;
    left: -10vw;
    top: 7200px;
    width: 900px;
}

.vine42 {
    position: absolute;
    left: -5vw;
    top: -50px;
    width: 400px;
}

.without1 {
    position: absolute;
    top: 300px;
    right:5vw;
    border: solid 1px #67b346; 
    width: 375px;
}

.lifeafter2 {
    position: absolute;
    top: 800px;
    left:5vw;
    border: solid 1px #67b346; 
    width: 500px;
}

.vine12 {
    position: absolute;
    top: 900px;
    right:25vw;
    width: 200px;
}

.vine6 {
    position: absolute;
    top: 1600px;
    left:-5vw;
    width: 700px;
}

.without4 {
    position: absolute;
    top: 1500px;
    right:10vw;
    border: solid 1px #67b346;
    width: 400px;
}

.vine22 {
    position: absolute;
    top: 2600px;
    left:20vw;
    width: 400px;
}

.flower07 {
    position: absolute;
    top: 2000px;
    left:5vw;
    width: 600px;
}

.flower04 {
    position: absolute;
    top: 2400px;
    right:-5vw;
    width: 600px;
}

.flower02 {
    position: absolute;
    top: 2700px;
    right:10vw;
    width: 670px;
}

.vine43 {
    position: absolute;
    top: 3100px;
    left:15vw;
    width: 600px;
}

.vine52 {
    position: absolute;
    top: 3400px;
    right:-5vw;
    width: 600px;
}

.vine8 {
    position: absolute;
    top: 3780px;
    left: 27vw;
    width: 200px;
}

.flower11 {
    position: absolute;
    top: 3400px;
    left:-5vw;
    width: 600px;
}

.tlou {
    position: absolute;
    top: 3900px;
    left:40vw;
    border: solid 1px #67b346;
    width: 500px;
}

.flower12 {
    position: absolute;
    top: 3800px;
    right:-10vw;
    width: 750px;
}

#afk-images-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Make sure the user interaction doesn't interfere */
    z-index: 1000; /* Make sure AFK images appear on top */
}

#afk-images-container img.afk-image {
    width: 150px; /* Adjust the size of the AFK images as needed */
    transition: opacity 1s ease; /* Ensure the fade-in effect works */
    filter: drop-shadow(0px 0px 1px rgb(105, 105, 105) );
}




@media only screen and (max-width: 768px) {

body {
    overflow-x: hidden;
}

.nav {
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
}

.text {
    width: 75%;
}

.text img {
    border: 1px solid black;
    width: 75vw;
}

p {
    font-size: 1rem;
}

.pullquote {
    font-size: 1.35rem;
    line-height: 1.5rem;   
    width: 80%;
}

h3 {
    font-size: 1.75rem;   
    line-height: 1.75rem;
}

.serif {
    font-size: 2.5rem;    
}

.sanserif {
    font-size: 2rem;  
}

.bsserif2 {
    font-size: 2rem; 
}

.gsserif {
    font-size: 2rem;  
}

.bsserif { 
    font-size: 2rem;  
}

.gserif {
    font-size: 2.5rem;  
}

.bserif {
    font-size: 2.5rem; 
}

.glyph {
    font-size: 2.5rem;
}

aside {
    width: 100vw;
    left: -120vw;
}

#floating-image .overgrowth01 {
    top: 700px;
    left:20vw;
    width: 170px;
}

#floating-image .overgrowth02 {
    top: 1300px;
    left:40vw;
    width: 200px;
}

#floating-image .nyc3112 {
    top: 3300px;
    left:15vw;
    width: 200px;
}

#floating-image .plant {
    top: 4900px;
    left:40vw;
    width: 200px;
}

#floating-image .vine1 {
    right:10vw;
    width: 150px;
}

#floating-image .gov12 {
    top: 1500px;
    right:5vw;
    width: 250px;
}

#floating-image .wales1 {
    top: 2500px;
    left:5vw;
    width: 225px;
}

#floating-image .vine2 {
    top: 3100px;
    left:15vw;
    width: 250px;
}

#floating-image .chernobyl2 {
    top: 4200px;
    right:5vw;
    border: solid 1px black; 
    width: 300px;
}

#floating-image .chernobyl3 {
    top: 4400px;
    left:5vw;
    border: solid 1px black; 
    width: 250px;
}

#floating-image .vine5 {
    right: -10vw;
    top: 4800px;
    width: 400px;
}

#floating-image .flower10 {
    top: 5100px;
    width: 250px;
}

#floating-image .fukushima2 {
    top: 5500px;
    right:5vw;
    width: 225px;
}

#floating-image .fukushima1 {
    top: 5600px;
    left:5vw;
    width: 250px;
}

#floating-image .vine4 {
    right: -10vw;
    top: 5700px;
    width: 200px;
}

#floating-image .vine3 {
    left: -10vw;
    top: 5950px;
    width: 300px;
}

}