@font-face {
    font-family: Diatype-bold;
    src: url(./fonts/ABCDiatype-Bold-Trial.otf);
}

@font-face {
    font-family: Diatype-bold-italic;
    src: url(./fonts/ABCDiatype-BoldItalic-Trial.otf);
}

@font-face {
    font-family: Diatype-regular;
    src: url(./fonts/ABCDiatype-Regular-Trial.otf);
}

@font-face {
    font-family: Diatype-regular-italic;
    src: url(./fonts/ABCDiatype-RegularItalic-Trial.otf);
}

@font-face {
    font-family: Marist-medium;
    src: url(./fonts/ABCMarist-Medium-Trial.otf);
}

@font-face {
    font-family: Marist-medium-italic;
    src: url(./fonts/ABCMarist-MediumItalic-Trial.otf);
}

@font-face {
    font-family: Marist-regular;
    src: url(./fonts/ABCMarist-Regular-Trial.otf);
}

@font-face {
    font-family: Marist-regular-italic;
    src: url(./fonts/ABCMarist-RegularItalic-Trial.otf);
}

@font-face {
    font-family: Glyphworld-flower;
    src: url(./fonts/GlyphWorld-Flower.otf);
}

body {
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
    overflow: hidden;
}

img {
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1 span {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

.titletext {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; /* Ensures .titletext is part of the stacking context */
    z-index: 1; /* Lower z-index so it's behind .sections */
}

.re {
    font-family: "Diatype-bold", sans-serif;
    color: black;
    font-size: 5.5rem;
}

.c {
    font-family: "Glyphworld-flower", sans-serif;
    font-weight: 500;
    color: #67b346;
    font-size: 5.2rem;
}

.l {
    font-family: "Marist-medium", serif;
    font-weight: 500; 
    color: #67b346;
    font-size: 5.9rem;
} 

.a {
    font-family: "Glyphworld-flower", sans-serif;
    font-weight: 500;
    color: #67b346;
    font-size: 5.2rem;
}

.i {
    font-family: "Marist-medium", serif; 
    font-weight: 500;
    color: #67b346;
    font-size: 5.9rem;
} 

.m {
    font-family: "Marist-medium", serif; 
    font-weight: 500;
    color: #67b346;
    font-size: 5.9rem;
} 

.sections {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in-out; /* Smooth transition */
}

.sections.visible {
    opacity: 1; /* Revealed */
}


button {
    background-color: white;
    font-size: 1.75rem;
    line-height: 1.75rem;
    filter: drop-shadow(0px 0px 1px black);
    border: none;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.5s;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
}

button:hover {
    transform:scale(1.05);
    cursor: pointer;
}

.section1 {
    position: fixed;
    top: 100px;
    left:200px;
    transform: rotate(-3deg);
}

.section2 {
    position: fixed;
    top: 230px;
    right:300px;
    transform: rotate(7deg);
}

.section3 {
    position: fixed;
    bottom: 200px;
    left:350px;
    transform: rotate(-8deg);
}

.section4 {
    position: fixed;
    bottom:120px;
    right:250px;
    transform: rotate(10deg);
    z-index: 1;
}

.bsserif {
    font-family: "Diatype-bold";
    letter-spacing: -0.05rem;  
}

.bsserif2 {
    font-family: "Diatype-regular";
    letter-spacing: -0.05rem;  
}

.gsserif {
    font-family: "Diatype-regular";
    letter-spacing: -0.05rem;  
    color: #67b346;
}

.gserif {
    font-family: "Marist-medium-italic";
    font-weight: 400;
    color: #67b346;
    font-size: 2rem;  
}

.bserif {
    font-family: "Marist-medium-italic";
    font-weight: 400;
    font-size: 2rem;  
}

.glyph {
    font-family: "Glyphworld-flower", sans-serif;
    font-weight: 500;
    color: #67b346;
}

.overgrowth1 {
    position: fixed;
    top: -100px;
    left:100px;
}

.wales2 {
    position: fixed;
    top: 80px;
    right: 320px;
}

.IMG_0123 {
    position: fixed;
    top: 50px;
    left:250px;
}

.flower09 {
    position: fixed;
    bottom:10px;
    left:-120px;
}

.without32 {
    position: fixed;
    bottom:100px;
    left:350px;
}

.china {
    position: fixed;
    top: 250px;
    right: 100px; 
}

.vine6 {
    position: fixed;
    top: -50px;
    left:-50px;
}

.vine4 {
    position: fixed;
    bottom: -100px;
    right:-100px;
}

.vine1 {
    position: fixed;
    top: -100px;
    right:-80px;
}

.vine7 {
    position: fixed;
    bottom: -50px;
    left:-80px;
}

.overgrown {
    position: fixed;
    bottom:0px;
    right:300px;
}

.flower12 {
    position: fixed;
    bottom:-300px;
    left:500px;
}

.randomgrowth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3; /* Ensure this is on top of the sections */
    pointer-events: none; /* So that buttons below are still clickable */
}

.floating-image {
    position: absolute;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.25s ease, transform 0.25s ease; /* Smooth transition */
    pointer-events: auto; /* Allow images to be clicked */
}

.floating-image:hover {
    cursor: pointer;
    transform:scale(1.05);
    filter: drop-shadow(0px 0px 0.5px black);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.25s;
    pointer-events: auto;
}

.floating-image.show {
    opacity: 1; /* Fades in the images when the class is added */
    pointer-events: auto; /* Allow interaction */
    transition: opacity 0.25s ease, transform 0.25s ease, pointer-events 0.3s;
}

.floating-image.hidden {
    opacity: 0; /* Fades out the image when clicked */
}

#afk-images-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Make sure the user interaction doesn't interfere */
    z-index: 1000; /* Make sure AFK images appear on top */
}

#afk-images-container img.afk-image {
    width: 150px; /* Adjust the size of the AFK images as needed */
    transition: opacity 1s ease; /* Ensure the fade-in effect works */
    filter: drop-shadow(0px 0px 1px rgb(105, 105, 105) );
}

@media only screen and (max-width: 768px) {
    
    .re {
        font-size: 3.7rem;
    }
    
    .c {
        font-size: 3.5rem;
    }
    
    .l {
        font-size: 4rem;
    } 
    
    .a {
        font-size: 3.5rem;
    }
    
    .i {
        font-size: 4rem;
    } 
    
    .m {
        font-size: 4rem;
    } 
}