body {
    margin:0;
    overflow-y: hidden;
    overflow-x: hidden;
}

@font-face {
    font-family: Diatype-bold;
    src: url(./fonts/ABCDiatype-Bold-Trial.otf);
}

@font-face {
    font-family: Diatype-bold-italic;
    src: url(./fonts/ABCDiatype-BoldItalic-Trial.otf);
}

@font-face {
    font-family: Diatype-regular;
    src: url(./fonts/ABCDiatype-Regular-Trial.otf);
}

@font-face {
    font-family: Diatype-regular-italic;
    src: url(./fonts/ABCDiatype-RegularItalic-Trial.otf);
}

@font-face {
    font-family: Marist-semibold;
    src: url(./fonts/ABCMarist-SemiBold-Trial.otf);
}

@font-face {
    font-family: Marist-semibold-italic;
    src: url(./fonts/ABCMarist-SemiBoldItalic-Trial.otf);
}

@font-face {
    font-family: Marist-regular;
    src: url(./fonts/ABCMarist-Regular-Trial.otf);
}

@font-face {
    font-family: Marist-regular-italic;
    src: url(./fonts/ABCMarist-RegularItalic-Trial.otf);
}

@font-face {
    font-family: Glyphworld-flower;
    src: url(./fonts/GlyphWorld-Flower.otf);
}

body {
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: 0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.navbar {
    height: 100vh;
    width: 250px; 
    padding: 20px; 
    border-right: 1px dotted #000; 
}

h1 {
}

.re {
    font-family: "Diatype-bold";
    color: black;
    font-size: 2rem;
}

.lim {
    font-family: "Marist-semibold";
    color: #67b346;
    font-size: 2.2rem;
} 

.ca {
    font-family: "Glyphworld-flower";
    color: #67b346;
    font-size: 2rem;
}

h2 {
    padding-left: 20px;
    font-family: "Diatype-regular";
    color: black;
    font-size: 1rem;
}

.floating-image {
    position: absolute;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    cursor: pointer;
}

.floating-image img {
    /* border: 3px solid #67b346; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* When image appears */
.floating-image.show {
    opacity: 1;
}

/* When image is hidden */
.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}


@media only screen and (max-width: 768px) {

    
}