* {
    box-sizing: border-box;
}

@font-face {
    font-family: Diatype-bold;
    src: url(./fonts/ABCDiatype-Bold-Trial.otf);
}

@font-face {
    font-family: Diatype-bold-italic;
    src: url(./fonts/ABCDiatype-BoldItalic-Trial.otf);
}

@font-face {
    font-family: Diatype-regular;
    src: url(./fonts/ABCDiatype-Regular-Trial.otf);
}

@font-face {
    font-family: Diatype-regular-italic;
    src: url(./fonts/ABCDiatype-RegularItalic-Trial.otf);
}

@font-face {
    font-family: Marist-medium;
    src: url(./fonts/ABCMarist-Medium-Trial.otf);
}

@font-face {
    font-family: Marist-medium-italic;
    src: url(./fonts/ABCMarist-MediumItalic-Trial.otf);
}

@font-face {
    font-family: Marist-book;
    src: url(./fonts/ABCMarist-Book-Trial.otf);
}

@font-face {
    font-family: Marist-book-italic;
    src: url(./fonts/ABCMarist-BookItalic-Trial.otf);
}

@font-face {
    font-family: Glyphworld-flower;
    src: url(./fonts/GlyphWorld-Flower.otf);
}

body {
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
    padding-bottom: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

a {
    text-decoration: none; 
    color: black;  
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px dotted #000; /* Dotted line at the bottom */
    background-color: white;
    position: fixed;
    z-index: 998;
}

.nav p{
    font-size: 1rem;
}

.text {
    padding-top:50px;
    width: 45%;
    margin:auto;
    z-index: 1;
}

.green {
    color: #67b346;
}


h2 {
    text-align: center;
    padding-top: 25px;
    line-height: 3rem;
}

.sanserif {
    font-family: "Diatype-bold";
    letter-spacing: -0.10rem;
    font-size: 3.7rem;    
}

.serif {
    font-family: "Marist-medium-italic";
    font-weight: 400;
    color: #67b346;
    font-size: 4rem;    
}

.bsserif {
    font-family: "Diatype-bold";
    letter-spacing: -0.05rem;  
    font-size: 3.7rem; 
}

.bsserif2 {
    font-family: "Diatype-regular";
    letter-spacing: -0.05rem; 
    font-size: 3.7rem;  
}

.gsserif {
    font-family: "Diatype-regular";
    letter-spacing: -0.05rem;  
    color: #67b346;
    font-size: 3.7rem; 
}

.gserif {
    font-family: "Marist-medium-italic";
    font-weight: 400;
    color: #67b346;
    font-size: 4rem;  
}

.bserif {
    font-family: "Marist-medium-italic";
    font-weight: 400;
    font-size: 4rem; 
}

.glyph {
    font-family: "Glyphworld-flower", sans-serif;
    font-weight: 500;
    color: #67b346;
    font-size: 4rem;
}


h3 {
    font-family: "Diatype-bold";
    font-weight: 200;
    font-size: 2.5rem;   
    letter-spacing: -0.10rem; 
    text-align: center;
    line-height: 2.5rem;
}

h4 {
    font-family: "Marist-book";
    font-weight: 200;
    font-size: 0.85rem;    
    text-align: center;
}

p {
    font-family: "Marist-book";
    font-size: 1.4rem;
    font-weight: 200;
}

.pullquote {
    font-family: "Diatype-regular";
    font-weight: 200;
    width: 70%;
    margin: auto;
    font-size: 2rem;   
    letter-spacing: -0.10rem; 
    line-height: 2rem;
    text-align: center;
}

.text img {
    border: 1px solid black;
    width: 45vw;
}

#hamburger:hover {
    cursor:pointer;
}

/* Default hidden state */
aside {
    position: fixed;
    width: 20vw;
    min-height: 100vh;
    background-color: white;
    font-family: "Diatype-regular";
    font-weight: 200;
    font-size: 1.35rem;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 40px;
    left: -30vw; /* Hidden state */
    top: 0;
    filter: drop-shadow(0px 0px 3px rgb(105, 105, 105) );
    z-index: 999;
    opacity: 0;
}

/* Revealed state */
aside.active {
    left: 0vw; /* Moves the aside into view */
    transition: opacity 0.5s ease;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.25s;
    opacity: 1;
}

aside .sanserif,
aside .bsserif,
aside .bsserif2,
aside .gsserif,
aside .glyph {
    font-size: 1.35rem; /* Adjust the size as needed */
}

aside .serif,
aside .gserif,
aside .bserif {
    font-size: 1.45rem;
}

.current {
    background-color: #d3edc8;
}

aside a:hover {
    /* text-decoration: underline #67b346;  */
    background-color: #d3edc8;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.4s;
}

[data-aos="fade-up"] {
    transform: translateY(50px);
    opacity: 0;
    transition: transform 2s ease-out, opacity 2s ease-out;
}

[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
    opacity: 1;
}


.images {
    position: absolute;
    width: 100vw;
    height: fit-content;
    z-index: 3;
    /* border: red solid 2px; */
}

.images img:hover {
    cursor:pointer;
    transform:scale(1.025);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.25s;
    filter: drop-shadow(0px 0px 0.5px black);
}

#floating-image img {
    transition: opacity 0.5s ease;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.25s;
    opacity: 1;
}

.hidden {
    opacity: 0 !important; /* Ensure the hidden class takes effect */
    pointer-events: none; /* Prevent further interaction */
}

.without9 {
    position: absolute;
    top: 100px;
    left:10vw;
    width: 250px;
}

.IMG_0123 {
    position: absolute;
    top: 500px;
    left:25vw;
    width: 250px;
}

.flower04 {
    position: absolute;
    top: 250px;
    left:20vw;
    width: 500px;
}

.flower09 {
    position: absolute;
    top: 350px;
    left:40vw;
    width: 600px;
}

.without32 {
    position: absolute;
    bottom:100px;
    left:350px;
    width: 350px;
}

.without6 {
    position: absolute;
    top: 400px;
    right: 0px; 
    width: 350px;
}
.flower11 {
    position: absolute;
    top: -100px;
    right: 0px; 
    width: 600px;
}

.vine2 {
    position: absolute;
    top: 100px;
    left:30vw; 
    width: 400px;
}

.vine6 {
    position: absolute;
    top: 0px;
    left:-5vw;
    width: 800px;
}

.vine4 {
    position: absolute;
    top: 450px;
    right:-10vw;
    width: 400px;
}

.vine1 {
    position: absolute;
    top:50px;
    right:10vw;
    width: 250px;
}

.overgrown {
    position: absolute;
    bottom:0px;
    right:8vw;
    width: 400px;
}

.flower12 {
    position: absolute;
    top:200px;
    left:-10vw;
    width: 600px;
}


#arrow:hover {
    cursor: pointer;
}


#afk-images-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Make sure the user interaction doesn't interfere */
    z-index: 1000; /* Make sure AFK images appear on top */
}

#afk-images-container img.afk-image {
    width: 150px; /* Adjust the size of the AFK images as needed */
    transition: opacity 1s ease; /* Ensure the fade-in effect works */
}


@media only screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .nav {
        width: 100vw;
        padding-left: 10px;
        padding-right: 10px;
    }
    

.text {
    width: 75%;
}

.text img {
    border: 1px solid black;
    width: 75vw;
}

p {
    font-size: 1rem;
}

.pullquote {
    font-size: 1.35rem;
    line-height: 1.5rem;   
    width: 80%;
}

h3 {
    font-size: 2.2rem;   
    line-height: 2.2rem;
}

aside {
    width: 100vw;
    left: -120vw;
}

}